<footer class="bg-dark text-white pt-4 pb-2">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-4 mb-3">
          <h5>YourLogo</h5>
          <p>Short description or tagline here.</p>
        </div>
  
        <!-- Column 2 -->
        <div class="col-md-4 mb-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Home</a></li>
            <li><a href="#" class="text-white text-decoration-none">About</a></li>
            <li><a href="#" class="text-white text-decoration-none">Services</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
  
        <!-- Column 3 -->
        <div class="col-md-4 mb-3">
          <h5>Contact Us</h5>
          <p>Email: info@example.com</p>
          <p>Phone: +123 456 7890</p>
        </div>
      </div>
  
      <div class="text-center mt-3">
        <p class="mb-0">&copy; 2025 YourCompany. All rights reserved.</p>
      </div>
    </div>
  </footer>
  